%flexbox {
    display: flex;
    justify-content: space-between;
}

%headers {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: $vdb;
}

%paragraph {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.header {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 179px;
    }

    &__logo {}

    &__menu {
        width: 271px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    &__menu-items {
        @extend %flexbox
    }

    &__menu-item {
        display: inline-block;
    }

    &__menu-link {
        color: $vdb;
        transition: color 1s;

        &:hover {
            color: $mlb;
        }
    }
}

.main {}

.start {
    padding: 21px 0 21px;
    margin-bottom: 155px;

    &__inner {
        @extend %flexbox
    }

    &__inner-content {
        padding-top: 177px;
        max-width: 627px;
    }

    &__inner-title {
        @extend %headers;
        line-height: 60px;
        margin-bottom: 15px;
    }

    &__inner-text {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.53125px;
        color: $vdb;
        max-width: 585px;
        margin-bottom: 25px;
    }

    &__inner-form {
        width: 536px;
        display: flex;

        input[type=email] {
            border: none;
            border: 0.625px solid #07043B;
            box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
            border-radius: 3.125px;
            width: 320px;
            height: 45px;
            margin-right: 16px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.466667px;
            color: #C2C2C2;
            padding: 14px 21px;

            &::placeholder {
                color: #C2C2C2;

            }
        }

        input[type=submit] {
            border: none;
            background: #2F65F8;
            box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
            border-radius: 3.125px;
            width: 200px;
            height: 45px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;

        }
    }

    &__inner-pic {
        width: 640px;
        height: 474px;
        background-image: url(../images/illustration-1.svg);
        background-size: contain;
    }
}

.howwork {
    position: relative;
    background-color: #F8F8FE;
    min-height: 724px;
    padding-top: 64px;

    &::before {
        position: absolute;
        content: '';
        width: 1440px;
        height: 114px;
        background-image: url(../images/bg-curve-desktop.svg);
        top: -114px;
    }

    &__inner {
        @extend %flexbox
    }

    &__inner-content {}

    &__inner-title {
        @extend %headers;
        margin-bottom: 38px;
        line-height: 47px;
    }

    &__inner-text {
        @extend %paragraph;
        width: 529px;
        color: $vdb;
        margin-bottom: 15px;
    }

    &__inner-link {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #3DA08F;
        padding-bottom: 4px;
        border-bottom: 1px solid #3DA08F;
        margin-bottom: 45px;
        display: inline-block;
        padding-right: 22px;
        position: relative;

        &::after {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            top: 5px;
            right: 0;
            background-image: url(../images/icon-arrow.svg);
        }
    }

    &__inner-card {
        width: 356px;
        height: 215px;
        background: $w;
        box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
        border-radius: 5px;
        padding: 49px 33px;
    }

    &__inner-pic {
        padding-top: 24px;
        img{
            width: 542px;
            height: 409px;
        }
    }
}

.card {

    &__text {
        margin-bottom: 16px;
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 0.5px;
        position: relative;
        &::before{
            position: absolute;
            top: -20px;
            left: 3px;
            content: '';
            width: 13px;
            height: 12px;
            background-image: url(../images/icon-quotes.svg);
        }
    }

    &__profile {
        width: 137px;
        height: 32px;
        padding-left: 40px;
        position: relative;
        padding-top: 2px;
        &::before {
            content: '';
            width: 32px;
            height: 32px;
            background-image: url(../images/avatar-testimonial.jpeg);
            position: absolute;
            background-size: cover;
            border-radius: 50%;
            top: 0;
            left: 0;
        }
    }

    &__profile-name {
        font-weight: 700;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.55px;
       
    }

    &__profile-status {
        font-size: 8px;
        line-height: 15px;
        letter-spacing: 0.4px;
    }
}